html, body{
    height: 100%;
    margin: 0;
    min-height: 700px;
    min-width: 685px;
    color: white;
}

h1{
    text-align: center;
    font-size: 2.2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h3{
    text-align: left;
    font-size: 1.2rem;
}

.cancel-button{
    display: block;
    width: 20%;
    padding: .2em;
    margin: 25px auto;
}

.styled-button{
    padding: .5em;
    background-color: black;
    border: 1px solid cyan;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.styled-button:hover{
    background-color: rgb(14, 14, 14);
    border: 2px solid cyan;
}

#content{
    float: left;
    background-color: rgb(80, 71, 71);
    height: calc(100% - 20px);
    width: calc(100% - 25vw - 60px);
    padding: 20px 20px 0 20px;
}

.accountForm{
    display: block;
    margin-top: 135px;
}

label{
    display: block;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
}

/* forms */
input{
    display: block;
    height: 30px;
    width: 350px;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
}

.submitButton{
    max-width: 280px;
    background-color: rgb(20, 118, 148);
    transition: all 300ms;
}

.submitButton:hover{
    box-shadow: -3px 10px 5px black;
    background-color: rgb(73, 161, 173);
}

.inputW, .passwordResetForm input[type = "email"], .passwordResetForm input[type = "password"]{
    color: white;
    background-color: black;
}

.inputW:focus{
    background-color: rgb(19, 19, 19);
    border: 2px solid cyan;
}

/*  LateralMenu   */
#lateralMenu{
    float: left;
    position: relative;
    height: calc(100% - 20px);
    width: 25vw;
    min-width: 200px;
    background-color: rgb(0, 85, 111);
    margin: 0;
    padding: 20px 0 0 20px; /*top: 20px, rigth: 0px, bottom: 0px y left:20px*/
}

#lateralMenu h1{
    display: block;
    font-style: italic;
    text-align: center;
}

#lateralMenu #start-options li{
    display: block;
    margin: 20px auto;
}

#lateralMenu #start-options li:first-of-type{
    margin-top: 60px;
}

#lateralMenu #start-options a{
    color: white;
    font-size: 1.2rem;
}

#lateralMenu #friends_list{
    display: block;
    position: absolute;
    height: 60%;
    width: 90%;
    margin-top: 100px;
    overflow-y: scroll;
}

#lateralMenu #friends_list button{
    line-height: 100px;
    list-style: none;
    height: 80px;
    width: 70%;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: rgb(0, 104, 122);
    transition: all 300ms;
}

#lateralMenu #friends_list button:hover{
    transform: scale(1.1);
    cursor: pointer;
    background-color: rgb(49, 112, 119);
}

#lateralMenu #friends_list li{
    line-height: 100px;
    list-style: none;
    height: 80px;
    width: 70%;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: rgb(54, 145, 155);
}

#lateralMenu .friend-ico{
    height: 1.7em;
}

/*  UtilityBar  */
#utilityBar{
    display: flex;
    justify-content: space-between;
    float: left;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 3px 10px 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(0, 104, 122);
}

#utilityBar img{
    height: 3em;
}

/* Password Reset */
.passwordResetForm{
    margin-top: 230px;
}

/* Account Settings */
#last-loginSettings{
    display: block;
    margin-top: 70px;
    font-size: 1rem;
}

.settings-option{
    padding: 2vh;
    margin: 30px 0;
    font-size: 1.4rem;
    background-color: rgba(255, 255, 255, 0.1);
}

.activateFormButton{
    float: right;
    width: 20vw;
    padding: .5vh 1vh;    
    font-size: 1rem;
}

#timeZoneForm select{
    display: block;
    margin: 0 auto;
    color: white;
    background-color: black;
}

.lateralButtons{
    display: block;
    height: 40px;
    width: 50%;
    border-radius: 10px;
    color: white;
    background-color: black;
}

.lateralButtons:hover{
    background-color: red;
}

.modal_outer{
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: collapse;
    transition: all 300ms;
}

.change{
    opacity: 1;
    visibility: visible;
    transition: all 200ms;
}

.modal_middle{
    display: table-cell;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.795);
}

.form_modal{
    width: 40%;
    padding: 20px;
    margin: 0 auto;
    border: 4px solid white;
    border-radius: 10px;
    background-color: rgb(0, 85, 111);
}

.form_modal form{
    display: none;
}

.form_modal .submitButton{
    background-color: rgb(40, 159, 175);
}

/* AddFriend */
.addFriend {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

/* Chat */
.chat_messages_container{
    height: 80%;
    margin-bottom: 5ch;
    overflow-y: scroll;
}

.chat_messages_container li{
    list-style: none;
    margin-top: 80px;
}

.message_from, .message_to{
    display: block;
    padding: 10px;
    border: 1px solid white;
    border-radius: 15px;
    font-family: serif;
}

.message_from{
    float: left;
    background-color: rgb(0, 80, 83);
}

.message_to{
    float: right;
    text-align: right;
    margin-right: 20px;
    background-color: rgb(0, 50, 83);
}

.message_from_date, .message_to_date{
    font-size: 1em;
    font-family: monospace;
}

.message_from_date{
    background-color: rgb(0, 48, 49);
}

.message_to_date{
    background-color: rgb(1, 36, 59);
}

.chat__item__container{
    display: flex;
    justify-content: space-between;
}

.chat__item__container #id_message_send_input{
    float: left;
    padding: 15px;
    width: 80%;
    color: white;
    background-color: rgb(66, 66, 66);
}

.chat__item__container #id_message_send_button{
    height: 50%;
    width: 8em;
    padding: 1em 0;
    transform: translateY(50%);
    background-color: rgb(66, 66, 66);
    border-radius: 5px;
    color: white;
    font-size: .9rem;
}