html, body{
    height: 100%;
    margin: 0;
}

#lateralMenu{
    float: left;
    position: relative;
    height: calc(100% - 20px);
    width: 25vw;
    background-color: darkturquoise;
    margin: 0;
    padding: 20px 0 0 20px; /*top: 20px, rigth: 0px, bottom: 0px y left:20px*/
}

#content{
    float: left;
    background-color: gray;
    height: calc(100% - 20px);
    width: calc(100% - 25vw - 60px);
    padding: 20px 20px 0 20px;
}

.accountForm{
    display: block;
}

.myclass{
    display: block;
    background-color: red;
    padding: 50px;
}