{% extends 'layout.html' %}

{% block content %}
    <div class="center">
        <form method="post" class="card">
            {% csrf_token %}
            <h1 class="text-center">Reset Password</h1>
            {% for field in form %}
                    {{ field.label_tag }} 
                    {{ field }}
                    {% if field.errors %}
                        <small>{{ field.errors|striptags  }}</small> 
                    {% endif %}
            {% endfor %}
            <div class="form-buttons">
                <input type="submit" value="Send" class="submitButton">
                <a href="{%url 'Login' %}"  class="btn btn-outline">Cancel</a>
            </div>
        </form>
    </div>
{% endblock %}